<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botão fujão</title>

    <!-- Use url_for para referenciar os arquivos estáticos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='formulario.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='formulario.js') }}" type="text/javascript" defer=""></script>
</head>
<body>
    <header>
        <h1>Que nota você quer dar pra Bruna?</h1>
    </header>
    <main id="conteiner">
        <div id="area">
            <div class="option" id="opcyes">
                10
            </div>
            <div class="option" id="opcNo">
                0
            </div>
        </div>
    </main>
    <footer id="textinho">
        
    </footer>
</body>
</html>
